.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
    input{
        padding: 10px;
        margin-bottom: 20px;
    }
    button{
        padding: 10px;
        width: 100px;
    }
}